<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DocumentThumbnailConfiguration</key>
	<dict>
		<key>accentColorHash</key>
		<data>
		ZNbDk/NNhX6OhomFq1OzNgFTJclNsUYfi2SaZ4EnZI0=
		</data>
		<key>appIconHash</key>
		<data>
		djKX3UYe5E1Nh4ealJSPdPS7sWSCOhV3ez/cSqnfAWc=
		</data>
		<key>thumbnailIsPrerendered</key>
		<false/>
	</dict>
</dict>
</plist>
